CI=false
HEADLESS=true
BASE_URL=https://freevpnplanet.com
ACCOUNT_URL=https://account.freevpnplanet.com
PERSONAL_VPN_RU_URL=https://planetconfig.com
PERSONAL_VPN_EN_URL=https://personal.freevpnplanet.com
DEFAULT_TIMEOUT_MS=30000
EXPECT_TIMEOUT_MS=10000
SIGNUP_PASSWORD=PlanetVpnE2E!2026
SIGNUP_EMAIL_DOMAIN=mailinator.com
PERSONAL_VPN_EMAIL_DOMAIN=mailinator.com
SIGNUP_PAYMENT_METHOD=card
RU_PAYMENT_METHODS=bank card,cryptocurrency
EN_PAYMENT_METHODS=bank card,cryptocurrency
